# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.out
*.txt

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/rohit/dssat/dssat/target/
/rohit/afsirs/afsirs/target/

/rohit/dssat/target/
/rohit/dssat/data
/rohit/dssat/log

/rohit/dssat/dssat/target/
/rohit/dssat/dssat/data
/rohit/dssat/dssat/log


/rohit/dssat1.1/target/
/rohit/dssat1.1/target/

/rohit/dssat1.1/target/
/rohit/dssat1.1/data
/afsirs/target/
/afsirs1.1/target/
/dssat1.1/target/
/afsirs1.2/target/